main{
    background-color: rgba(0, 0, 0, 0.762);
    
}
.fase{
    color: black;
    background-color: rgb(0, 0, 0);
    height: 4vh;
/*esse código foi feito apenas para ter espaço no começo da página */    
}

.container{
    background-color: rgba(0, 0, 0, 0.525);
    margin: 0;
    
}
 h1 { 
   
    color: white;
    margin: 0;
    padding: 25px;
    /*este código mexe na cor da fonte do h1 RitmoDigital*/
    
}
nav ul  {
   
    padding: 20px;
    margin: 0;
    
}
.p1 {
    display: flex;
     background-color: rgba(0, 0, 0, 0.375);
   margin: 0;  
   gap: 300px;
   
}   
.div2 {
    text-align: end;
    padding: 10px;
}
.barrabusca {
    height: 35px;
    width: 55vh;
    border-radius: 100vh;
    text-align: center;
    
    
    
}
.linha1 {
    background-color: blue;
    height: 1vh;
    color: blue;
}

