h1 { 
   
    color: white;
    background-color:black;
    margin: 0vh;
    padding: 10px;
    
}
nav ul a {
    background-color: black;
    padding: 20px;
}
.p1 {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
   margin: 0px;  
   
}   
.div2 {
    text-align: center;
    gap: 10px;
}
